img {
    padding-top:109px;
    width:272; 
}

#nav-header{
    position: fixed
}

#nav-left{
    position: fixed
}

#nav-right{
    position: fixed
}

.body {
    padding: 5px;
}

#footer {
    padding: 10px;
    background-color: rgba(0,0,0,.54);
}

#country {
    border: 2px;
}

#footer-left{
    border: 2px;
}

#footer-right{
    border: 2px;
}
